
<div style="color:white;">
    <h2 style="font-size: 32px; font-weight: bold;">Email Confirmed</h2>
    <p style="font-size: 26px;">Your email has been confirmed successfully! You can now log in.</p>
<a href="@Url.Action("Login", "Account")">Go to Login</a>
</div>