<!-- Views/Account/RegistrationConfirmationMessage.cshtml -->
<div style="color:white;">
    <h2 class="text-white" style="font-size: 32px; font-weight: bold;">Registration Pending Confirmation</h2>
    <p class="text-white" style="font-size: 24px;">Please check your email to confirm your registration.</p>
</div>