@model ConestogaVirtualGameStore.ViewModels.CreateGameViewModel

<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<form asp-action="EditGame" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="GameId" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedGenre" class="control-label"></label>
        <select asp-for="SelectedGenre" class="form-control" asp-items="Model.Genres">
            <option value="">Select Genre</option>
        </select>
        <span asp-validation-for="SelectedGenre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <div class="input-group date" id="releaseDatePicker">
            <input type="date" id="releasedate" asp-for="ReleaseDate" class="form-control" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
        </div>
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter game description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedPlatform" class="control-label"></label>
        <select asp-for="SelectedPlatform" class="form-control" asp-items="Model.Platforms">
            <option value="">Select Platform</option>
        </select>
        <span asp-validation-for="SelectedPlatform" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CoverImageURL" class="control-label"></label>
        <input asp-for="CoverImageURL" class="form-control" placeholder="Enter the URL of the cover image" />
        <span asp-validation-for="CoverImageURL" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Edit Game" class="btn btn-primary" />
        <a asp-action="Games" class="btn btn-secondary">Cancel</a>

    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#releasedate", {
        enableTime: false,
        dateFormat: "Y-m-d",
    });
</script>

