@model IEnumerable<Game>
@{
    ViewData["Title"] = "Home";
}

<div class="slider">
    @foreach (var game in Model)
    {
        <a href="@Url.Action("GameDetail", "Games", new { id = game.GameId })" class="game-container">
            <div>
                <img src="@game.CoverImageURL" alt="@game.Title" class="slider-image" />
                <div class="caption">
                    <h3>@game.Title</h3>
                </div>
            </div>
        </a>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,  // Enable automatic sliding
                autoplaySpeed: 3000,  // Slide every 3 seconds
            });
        });
    </script>
}