@model ConestogaVirtualGameStore.ViewModels.WishlistGamesViewModel

@{
    ViewData["Title"] = Model.Wishlist.Wishlist_Name;
}

<style>
    #text {
        color: white;
    }
</style>

<div id="text">
    <h2>@Model.Wishlist.Wishlist_Name</h2>
</div>


<div class="container mt-5" id="GameCard">
    <div class="row">
        @if (Model != null)
            @foreach (var game in Model.GamesWishlist)
            {
                <div class="col-md-3 mb-3" style="color:#212545">
                    <a class="card-link" style="color:floralwhite; text-decoration: none;">
                        <div class="card h-100 game-card">
                            <img src="@game.CoverImageURL" class="card-img-top" alt="@game.Title" style="height: 400px; object-fit: cover;" />
                            <div class="card-body" style="background-color: #780000;">
                                <h5 class="card-title">@game.Title</h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
    </div>

    <div>
        <a href="javascript:history.back();" class="btn btn-primary mt-3">Go Back</a>
    </div>
</div>